@import '../../scss/styles.scss';

.shader {
    width: 100%;
    background: $black;
    box-shadow: 0px -20px 100px 30px $black;

    position: fixed;
    bottom: -20%;
    left: 0;

    z-index: map-get($zindexes, high);
}