@import '../../scss/styles.scss';

/******************* 
    TYPOGRAPHY 
*******************/

.profile__email {
  @include responsive-font(sm);
  margin-bottom: 2.5rem;
}

.profile__label {
  @include responsive-font(bigsm);
  margin-bottom: 10px;
}

/******************* 
    LAYOUT 
*******************/

main {
  width: 100vw;
  height: $height-page;
  overflow: hidden;

  display: grid;
  grid-template-columns: 0.3fr 0.26fr 0.44fr;
  color: $white;
}

section {
  h1 {
    margin-bottom: 5px;
    @include responsive-font(lg);
  }

  h2,
  p {
    @include responsive-font(sm);
    font-weight: 400;
  }

  h3 {
    @include responsive-font(md);
  }
}

.profile__left {
  border-width: 1px 0 0 0;
  position: relative;
}

.profile-left__container {
  padding: 1.5rem 3rem;
}

.profile__social {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1rem;
}

.profile__edit {
  width: 100%;
  padding: 2rem;
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
  @include responsive-font(md);

  &:hover {
    background: $white;
    color: $black;
  }
}

.profile__middle {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

.profile-middle__header {
  min-height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;

  h2 {
    font-weight: 700;
    @include responsive-font(lg);
  }
}

.story-list {
  border: 0;
}

// Right Section
.story__container {
  padding: 5rem;
  max-height: 320px;
  border-bottom: 1px solid #333;
  overflow: hidden;

  h2 {
    margin-bottom: 2rem;
    @include responsive-font(lg);
  }

  p {
    @include responsive-font(sm);
    line-height: 2;
    overflow-y: hidden;
    max-height: 120px;
  }
}

#container_story {
  padding-bottom: 0;
}

.btn__container {
  height: 87px;
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
    border: 0;
    background: $black;
    color: $white;
    @include responsive-font(md);

    &:hover {
      color: $black;
      background: $white;
    }
  }

  button:nth-child(2) {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
  }
}

.profile__replies {
  max-height: 400px;
  overflow-y: scroll;
  border-top: 1px solid #333;
}

.profile-right__header {
  padding: 2rem;
  border-bottom: 1px solid #333;
  @include responsive-font(lg);
}

/******************* 
    COMPONENTS 
*******************/

// SOCIAL LINKS

.profile__social--link {
  width: 40%;
  padding: 0.7rem;
  background: $white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  margin-bottom: 10px;
  @include responsive-font(sm);
}

.icons {
  width: 20px;
  height: 20px;
  fill: $black;
  margin-right: 0.8rem;
}

.icon--white {
  fill: $white;
}

.icon--small {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

// STORY CARD

.story-list__card {
  border: 1px solid #333;
  border-width: 1px 0 1px 0;
  padding: 1rem;

  h2 {
    @include responsive-font(md);
  }

  h3 {
    font-weight: 400;
    @include responsive-font(sm);
    margin-top: 10px;
  }
}

.story-list__card:not(:first-child) {
  border-top: 0;
}

// STORY LINKS

.story--links {
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0;
}

.story--link {
  width: 60px;
  margin-bottom: 0;
  margin-right: 10px;
  @include responsive-font(extrasm);
}

// REPLY LIST CARD

.replies-list__card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  h2 {
    @include responsive-font(md);
  }

  h3 {
    @include responsive-font(sm);
  }

  p {
    text-align: justify;
  }
}
