@import '../../scss/styles.scss';

/******************* 
    TYPOGRAPHY 
*******************/

.profile__email {
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}

.profile__label {
  @include responsive-font(bigsm);
  margin-bottom: 10px;
}

/******************* 
    LAYOUT 
*******************/

main {
  width: 100vw;
  height: $height-page;

  display: grid;
  grid-template-columns: 0.3fr 0.26fr 0.44fr;
  color: $white;
}

section {
  border: 1px solid white;
  border-bottom: 0;

  h1 {
    margin-bottom: 5px;
    @include responsive-font(lg);
  }

  h2,
  p {
    @include responsive-font(sm);
    font-weight: 400;
  }

  h3 {
    @include responsive-font(md);
  }
}

.profile__left {
  border-width: 1px 0 0 0;
  position: relative;
}

.profile-left__container {
  padding: 1.5rem 3rem;
}

.profile__social {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1rem;
}

.profile__edit {
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $white;

  &:hover {
    background: $white;
    color: $black;
  }
}
.profile-middle__header {
  min-height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;

  h2 {
    font-weight: 700;
    @include responsive-font(lg);
  }
}

.story-list {
  border: 0;
}

/******************* 
    COMPONENTS 
*******************/

// SOCIAL LINKS
.profile__social--link {
  width: 50%;
  padding: 0.3rem 0.7rem;
  background: $white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  margin-bottom: 10px;
  @include responsive-font(sm);
}

.icons {
  width: 20px;
  height: 20px;
  fill: $black;
  margin-right: 0.8rem;
}

.icon--white {
  fill: $white;
}

.icon--small {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

// STORY CARD

.story-list__card {
  border: 1px solid $white;
  border-width: 1px 0 1px 0;
  padding: 1rem;

  h2 {
    @include responsive-font(md);
  }

  h3 {
    font-weight: 400;
    @include responsive-font(sm);
    margin-top: 10px;
  }
}

.story-list__card:not(:first-child) {
  border-top: 0;
}

// STORY LINKS s
.story--links {
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0;
}

.story--link {
  width: 60px;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-right: 10px;
}
