.write__wrapper {
  width: 100vw;
  height: calc(100vh - 90px);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.write__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  padding: 0 40px;

  & > * {
    border: 0;
    background: transparent;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #fff;
      font-weight: 300;
    }
  }

  input {
    height: clamp(70px, 10%, 90px);
    border-radius: 5px;
    padding: 20px 40px;
    margin-bottom: 20px;

    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;

    transition: background 200ms;

    &:hover,
    &:focus {
      background: #FFFFFF15;
    }
  }

  textarea {
    resize: none;
    flex: 1;
    border-radius: 5px;
    padding: 30px 40px;

    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;

    transition: background 200ms;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover,
    &:focus {
      background: #212121;
    }
  }
}

.write__buttons {
  height: 110px;

  display: flex;
  align-items: stretch;
}
