.write__wrapper {
  width: 100vw;
  height: calc(100vh - 90px);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.write__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  padding: 0 40px 20px;

  & > * {
    border: 0;
    background: transparent;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #fff;
      font-weight: 300;
    }
  }

  input {
    height: clamp(70px, 10%, 90px);
    border-radius: 5px;
    padding: 20px 40px;
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: 500;

    transition: background 200ms;

    &:hover,
    &:focus {
      background: #ffffff15;
    }
  }

  textarea {
    resize: none;
    flex: 1;
    border-radius: 5px;
    padding: 30px 40px;

    font-size: 14px;
    font-weight: 300;
    line-height: 28px;

    transition: background 200ms;

    &::-webkit-scrollbar {
      background: #fff;
    }

    &:hover,
    &:focus {
      background: #212121;
    }
  }
}

.write__buttons {
  width: 100vw;
  height: 90px;

  display: flex;
  align-items: stretch;

  button {
    background: transparent;
    border-top: 1px solid #444444;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-bottom: 0;
    cursor: pointer;
    padding: 0 50px;

    font-size: 22px;
    font-weight: 300;

    transition: color 100ms, background 100ms;

    &:focus {
      outline: 0;
    }

    &:hover {
      background: #ffffff;
      color: #000000;
    }
  }

  .write__anonymous.active {
    background: #ffffff;
    color: #000000;
  }

  .write__submit {
    flex: 1;
  }
}
